.allDiv {
  /* background-color: #71bce1; */
  /* background-color: #371b58; */
  /* background-color: #4c3575; */
  /* background-color: #5b4b8a; */
  /* background-color: #7858a6; */
  /* background-color: #353057; */

  width: var(--good-width);
  margin: auto;
  margin-top: 150px;
}

.loaderDiv {
  margin: auto;
  width: var(--loader-div-width);
  margin-top: 220px;
  text-align: center;
  margin-bottom: 360px;
}

.commonText {
  color: white;
  font-size: var(--desc-font);
  font-family: var(--desc-font);
  font-weight: var(--big-desc-fwt);

  /* font-size: 1rem; */
  /* font-size: var(--tab-big-desc-fsz); */
  margin-top: 8px;
  margin-bottom: 8px;
  overflow-wrap: break-word;
}

.headingText {
  font-family: var(--heading-font);
  font-size: var(--title-fsz);
  font-weight: var(--title-fwt);
  text-align: center;
}

.detailsDiv {
  margin-top: 50px;
  /* margin should be 50 here same as sign in pages but rest of the maring is provided by margin divs */
}

.boldText {
  font-weight: var(--title-fwt);
}

.commonDiv {
  margin-top: 13px;
  margin-bottom: 13px;
  padding: 20px 20px 20px 20px;
  border-radius: var(--contri-btn-border-rad);
  background-color: #232234;
}

.marginDiv {
  /* padding-top: 20px;
  padding-bottom: 16px; */
  margin-top: 22px;
  margin-bottom: 22px;
  /* border: 2px solid red; */
}

/* even though margin above corresponds to the TextAreas let it be 22px to make them equal */

.allBtnDiv {
  /* padding: 20px; */
  padding: 0;
  margin-top: 15px;
  background-color: transparent;
  /* border: 2px solid red; */
}

.btn {
  background-color: var(--light-purple);
  background-color: #232234;
  color: white;
  width: 32%;
  height: 50px;

  border-radius: var(--login-btn-border-rad);
  /* border-radius: var(--contri-btn-border-rad); */
  border: 0;
  font-family: var(--desc-font);
  font-weight: var(--login-btn-fwt);

  display: inline;
}

.btn:hover {
  color: var(--light-button-hover-color);
}

.iconDiv {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: transparent;
}

.countText {
  text-align: center;
  font-size: 2.4rem;
  line-height: 60px;
  margin: auto;
  font-weight: 600;
}

.contriText {
  text-align: center;
}

/* mobile and tab ***************************************************************************************** */

@media (max-width: 767px) {
  .allDiv {
    width: var(--tab-good-width);
    margin-top: var(--tab-nav-margin);
  }

  .contributeCardExtraDivIntex {
    width: var(--tab-good-width);
  }

  .headingText {
    font-family: var(--heading-font);
    font-size: var(--tab-title-fsz);
    font-weight: var(--title-fwt);
    text-align: center;
  }
}
