.contribute-card-div {
  width: 90%;
  height: 160px;
  margin: auto;
  background-color: transparent;
  border-radius: 20px;
}

.contribute-card-subdiv-1 {
  width: 70%;
  height: 160px;
  display: flex;
  background-color: var(--dark-purple);
  border: 2px solid var(--light-purple);
  border-radius: 20px 0 0 20px;
  color: white;

  align-items: center;
}

.contribute-card-subdiv-2 {
  width: 30%;
  height: 160px;
  background-color: var(--light-purple);
  border: 2px solid var(--light-purple);
  border-radius: 0 20px 20px 0;
  color: white;
  display: flex;
  align-items: center;
}
.d-text {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.contribute-text {
  margin: auto;
}
