.commonText {
  color: white;
}

.titleText {
  font-size: var(--big-title-fsz);
  font-weight: var(--big-title-fwt);
  font-family: var(--heading-font);
}

.subTitleText {
  font-size: var(--big-desc-fsz);
  font-weight: var(--sub-title-fwt);
  font-family: var(--heading-font);
}

.contriImage {
  width: 100%;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

/* transition to animate image slowly  */

.contriImage:hover {
  width: 80%;
  margin-left: 10%;
}

/*  ********************************************************************************************************  */

/* div display flex to centre h1 vertically */
/* .contriDiv {
  background-color: var(--light-purple);
  border: 2px red solid;
  height: 70%;
  border-radius: var(--contri-btn-border-rad);
  display: flex;
} */

/* .ttx {
  margin-top: 100px;
  margin: 0;
}

.coll {
  padding: 0;
} 

ttx for text, coll for divs

*/

/* .contribute-card-div {
  width: 96%;

  margin: auto;
  background-color: transparent;
  padding: 0;
}

.contribute-card-subdiv-1 {
  width: 70%;

  background-color: var(--dark-purple);
  border: 2px solid var(--light-purple);
  border-radius: var(--contri-btn-border-rad) 0 0 var(--contri-btn-border-rad);
  color: white;
  display: flex;
  align-items: center;
  margin: auto;
}

.contribute-card-subdiv-2 {
  width: 30%;

  background-color: var(--light-purple);
  border: 2px solid var(--light-purple);
  border-radius: 0 var(--contri-btn-border-rad) var(--contri-btn-border-rad) 0;
  color: white;
  display: flex;
  align-items: center;
}
.d-text {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.contribute-text {
  margin: auto;
} */
