.loaderDiv {
  margin: auto;
  width: var(--loader-div-width);
  margin-top: 220px;
  text-align: center;
  margin-bottom: 360px;
}

.commonText {
  color: white;
}

.commonDiv {
  width: var(--good-width);
  margin: auto;

  padding: 0;
  height: fit-content;
}

.allDiv {
  margin-top: var(--nav-margin);
}

.headingText {
  font-family: var(--heading-font);
  font-size: var(--title-fsz);
  font-weight: var(--title-fwt);
  text-align: center;
  /* margin-top: 150px; */
}

.alertText {
  font-family: var(--desc-font);
  font-size: var(--big-desc-fsz);
  font-weight: var(-big-desc-fwt);
  text-align: center;
  /* margin-top: 10px; */
}

.inputDiv {
  margin-top: 13px;
  margin-bottom: 13px;
  /* border: 2px solid red; */
}

.detailsDiv {
  text-align: center;
  /* width: var(--good-width);
  margin: auto; */
  margin-top: 80px;
}

.noteText {
  font-family: var(--desc-font);
  font-weight: var(--sub-title-fwt);
  color: white;
  width: 100%;
  text-align: left;
  margin: 40px auto 0 auto;
  /* padding: 15px; */
}

.noteDiv {
  /* width: var(--good-width);
  margin: auto; */
}

.contentDiv {
  text-align: center;
  /* width: var(--good-width);
  margin: auto; */
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.contentTextArea {
  width: 100%;
  background-color: transparent;
  color: white;
  font-family: var(--heading-font);
  font-size: var(--big-desc-fsz);
  /* font-size: 100px; */
  padding: 20px 20px 20px 20px;
  border: 2px solid var(--light-purple);
  border-radius: var(--contri-btn-border-rad);
  /* border: 2px solid red; */
  margin-top: 20px;
  margin-bottom: 16px;
}

/* dont change padding bottom = 16px because there's some margin/padding already */

/* resize: none; to disable the resize option on the bottom right in textarea */

.contentTextArea:focus {
  outline: none;
}
/* remove default input white color border which occurs on click */

.contriButtonDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* mobile and tab ***************************************************************************************** */

@media (max-width: 992px) and (min-width: 768px) {
  .contentTextArea {
    font-size: 1.3rem;
  }
}

@media (max-width: 767px) {
  .commonDiv {
    width: var(--tab-good-width);
  }

  .contentTextArea {
    /* font-size: var(--tab-big-desc-fsz); */
    font-size: 1rem;
  }

  .headingText {
    font-size: var(--tab-title-fsz);
  }

  .alertText {
    font-size: var(--tab-big-desc-fsz);
  }

  .allDiv {
    margin-top: var(--tab-nav-margin);
  }

  .detailsDiv {
    margin-top: 50px;
  }
}
