.credentialInput {
  background: transparent;
  width: 32%;
  height: 50px;
  border: 2px solid var(--light-purple);
  border-radius: var(--login-btn-border-rad);
  color: white;
  padding: 20px;
  font-family: var(--desc-font);
}
