.credentialButton {
  background-color: var(--light-purple);
  color: white;
  width: 32%;
  height: 50px;
  border-radius: 10px;
  border: 0;
  font-family: var(--desc-font);
  font-weight: var(--login-btn-fwt);
}
