.credentialButton {
  background-color: var(--light-purple);
  color: white;
  width: 32%;
  height: 50px;
  border-radius: var(--login-btn-border-rad);
  border: 0;
  font-family: var(--desc-font);
  font-weight: var(--login-btn-fwt);
}

.credentialButton:disabled {
  color: var(--dark-purple);
}

@media (hover) {
  .credentialButton:hover {
    color: var(--light-button-hover-color);
  }
}

@media (hover: none) {
  .credentialButton:active {
    color: var(--light-button-hover-color);
  }
}

/* hover:none means mobile scrn, active for click */
