.outerDiv {
  /* margin: auto; */
  /* height: 200px; */
  border-radius: var(--contri-btn-border-rad);
  border-radius: 14px;
  padding: 20px 10px 30px 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: var(--dark-purple);

  border: 2px solid var(--light-purple);
  /* cursor: pointer; */

  /* background-color: #232234; */

  /* background-color: var(--light-purple); */
  /* background: radial-gradient(#333, var(--bg-purple)); */
  /* background-image: linear-gradient(to bottom right, #a769ea, #c680c1, #e3959a); */
}

.commonText {
  color: white;
  /* color: #808080; */
  overflow-wrap: break-word;
}

.companyText {
  text-align: center;
  font-size: 2rem;
  font-weight: var(--sub-title-fwt);
  font-family: var(--heading-font);
  margin-bottom: 0;
}

.yearText {
  text-align: center;
  font-size: 0.8rem;
  font-family: var(--desc-font);
  margin: 0;
}

.authorText {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  font-family: var(--desc-font);
  font-size: var(--desc-fsz);
  font-weight: var(--big-desc-fwt);
}

/* mobile and tab ***********************************************************************************************  */

@media (max-width: 767px) {
  .authorText {
    margin-bottom: 30px;
  }
}
