:root {
  --dark-purple: #131022;
  --light-purple: #7026b9;
  --heading-font: "Montserrat";
  --desc-font: "Montserrat";
  --login-btn-fwt: 600;
  --link-hover-color: var(--light-purple);
  --light-button-hover-color: var(--dark-purple);
  --login-btn-border-rad: 8px;
}

body {
  background-color: var(--dark-purple);
}
