:root {
  --dark-purple: #131022;
  --light-purple: #322b59;
  --grey-purple: #232234;

  --heading-font: "Montserrat";
  --desc-font: "Montserrat";
}

.body {
  background-color: var(--dark-purple);
}
