.contributeCardExtraDivIntex {
  /* border: 2px solid red; */
  width: var(--good-width);
  margin: auto;
  margin-top: 150px;
}

.searchBarExtraDivIntex {
  margin-top: 120px;
}

.bottomDiv {
  width: var(--good-width);
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

/* mobile and tab ***************************************************************************************** */

