.loaderDiv {
  margin: auto;
  width: var(--loader-div-width);
  margin-top: 220px;
  text-align: center;
  margin-bottom: 360px;
}

.contributeCardExtraDivIntex {
  /* border: 2px solid red; */
  width: var(--good-width);
  margin: auto;
  margin-top: var(--nav-margin);
}

.emptyText {
  color: white;
  font-family: var(--heading-font);
  font-size: var(--title-fsz);
  font-weight: var(--title-fwt);
  text-align: center;
}

.searchBarExtraDivIntex {
  margin-top: 120px;
}

.bottomDiv {
  /* border: 2px solid red; */
  /* width: 100%;
  padding: 0; */
  padding: 50px 0 50px 0;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}

.clearDiv {
  width: var(--good-width);
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.clearText {
  width: var(--good-width);
  margin: auto;
  margin-top: 50px;
  border-radius: 50px;
  background-color: var(--light-purple);

  color: white;
  line-height: 50px;
  padding: 0 30px 0 30px;
  width: fit-content;
  font-family: var(--desc-font);
  font-weight: var(--login-btn-fwt);
  cursor: pointer;
}

.clearText:hover {
  color: var(--light-button-hover-color);
}

/* mobile and tab ***************************************************************************************** */

@media (max-width: 767px) {
  .bottomDiv {
    width: var(--tab-good-width);
  }

  .contributeCardExtraDivIntex {
    width: var(--tab-good-width);
    margin-top: var(--tab-nav-margin);
  }

  .bottomDiv {
    margin-top: 0;
  }

  .emptyText {
    font-size: var(--tab-big-desc-fsz);
    font-weight: var(--sub-title-fwt);
  }
}
