.contributeCardExtraDivIntex {
  /* border: 2px solid red; */
  width: var(--good-width);
  margin: auto;
  margin-top: 150px;
}

.searchBarExtraDivIntex {
  margin-top: 120px;
}

.loaderDiv {
  margin: auto;
  width: var(--loader-div-width);
  margin-top: 220px;
  text-align: center;
  margin-bottom: 360px;
}

.bottomDiv {
  /* border: 2px solid red; */
  /* width: 100%;
  padding: 0; */
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

/* mobile and tab ***************************************************************************************** */

@media (max-width: 767px) {
  .bottomDiv {
    width: var(--tab-good-width);
  }

  .contributeCardExtraDivIntex {
    width: var(--tab-good-width);
  }
}
