.heading {
  color: white;
  font-family: var(--heading-font);
  font-size: var(--title-fsz);
  font-weight: var(--title-fwt);
  text-align: center;
}

.headingDiv {
  margin: auto;
  margin-top: 50px;
  width: 90%;
}

.signInDiv {
  margin: auto;
  margin-top: 50px;
  width: 400px;
}

.signUpDiv {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 400px;
}

.inputDiv {
  margin: 15px 0 15px 0;
  text-align: center;
}

.passwordDiv {
  width: 100%;
  margin: 15px auto 15px auto;
}

.otpDiv {
  width: 100%;
  margin: 15px auto 15px auto;
}

.otpButton:hover {
  color: var(--light-button-hover-color);
}

.buttonDiv {
  margin: 40px 0 40px 0;
  text-align: center;
}

/* button div has margin on all 4 sides which pushes down the text div */
.textDiv {
  text-align: center;
}

.fpText {
  display: inline;
  color: white;
  cursor: pointer;
  margin: 2px;
  font-weight: var(--login-btn-fwt);
  text-decoration: none;
}

.fpText:hover {
  color: var(--link-hover-color);
}

.dotText {
  color: white;
  display: inline;
}

.otpBtnHalfInputDiv {
  margin-left: 1%;
  display: inline;
}

/* mobile and tab ***************************************************************************************** */

/* @media (min-width: 768px) and (max-width: 1080px) {
  .signInDiv {
  }
} */

@media (max-width: 600px) {
  .signInDiv {
    width: var(--tab-good-width);
    /* reduce text size */
  }

  .signUpDiv {
    width: var(--tab-good-width);
    /* reduce text size */
  }
}
